.container {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}

.chat-container {
  height: 500px;
  width: 400px;
  background-color: powderblue;
  border: 2px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  padding: 10px;
  overflow: scroll;
  scroll-behavior: auto;
}
.messages {
  flex: 1;
  flex-direction: column;
  font-size: large;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.chat-item > li {
  padding: 5px;
  margin: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: azure;
  list-style-type: none;
}

.input-group {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 425px;
  align-self: center;
}
h1 {
  text-align: center;
}

.input-text {
  width: 300px;
  height: 40px;
  border-radius: 5px;
}
.input-submit {
  background-color: rgb(0, 255, 255);
  width: 90px;
  height: 45px;
  border-radius: 5px;
}
